<h3>Home Page</h3>

<p>Hello <strong>{{name}}</strong> and <strong>{{class}}</strong>!!!</p>

<div class="grid-container">

  {{#each cards}}
    {{#if this.inPhaseFour}}
      <div class="card" style="width: 18rem;">
        <img src={{this.imageURL}} class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">{{this.title}}</h5>
          <p class="card-text">{{this.text}}</p>
        </div>
      </div>
    {{/if}}
  {{/each}}

</div>